<h1>Pirate</h1>
<p>Name: <%= @pirate.name %></p>
<p>Height: <%= @pirate.height %></p>
<p>Weight: <%= @pirate.weight %></p>
<% @pirate.ships.each_with_index do |ship, i| %>
<h2>Ship <%= i.to_s %> </h2>
<p>Name: <%= ship.name %></p>
<p>Type: <%= ship.type %></p>
<p>Booty: <%= ship.booty %></p>
<% end %>
